
	.css-ampel {
	  display: inline-block;
	  width: 8px;
	  height: 8px;
	  border-radius: 1px;
	  position: relative;
	  background-color: black;
	  zoom: 1.7;
	}

	.css-ampel span {
		content: "";
		color: white;
		position: absolute;
		border-radius: 2px;
		width: 6px;
		height: 6px;
		left: 1px;
	}    

	.css-ampel span {
		top: 1px;
		background-color: green;
		background-color: dimgrey;
	}    

	.green span {
		background-color: limegreen;
		box-shadow: 0 0 2px limegreen;
	}
	
	